<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="trustedCertificates" type="IronMacbeth.Common.CertificateValidation.TrustedCertificatesConfigurationSection, IronMacbeth.Common"/>
    </configSections>
    <trustedCertificates>
        <add value="77F7F5D4AA2D038C4A1324DF82F1BBE4" />
    </trustedCertificates>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="IronMacbeth.FileStorage.Binding">
                    <security mode="Message">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>

        <behaviors>
            <serviceBehaviors>
                <behavior name="IronMacbeth.FileStorage.Behavior">
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceCredentials>
                        <serviceCertificate findValue="77f7f5d4aa2d038c4a1324df82f1bbe4" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber"/>
                        <clientCertificate>
                        <authentication certificateValidationMode="Custom" customCertificateValidatorType="IronMacbeth.Common.CertificateValidation.IronMacbethX509CertificateValidator, IronMacbeth.Common" />
                    </clientCertificate>
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
            <service name="IronMacbeth.FileStorage.FileStorageService"
                     behaviorConfiguration="IronMacbeth.FileStorage.Behavior">
                <endpoint address="FileStorage" binding="wsHttpBinding" bindingConfiguration="IronMacbeth.FileStorage.Binding" contract="IronMacbeth.FileStorage.Contract.IFileStorageService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:5060" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
