<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>

        <bindings>
            <wsHttpBinding>
                <binding name="IronMacbeth.FileManagement.Binding">
                    <security mode="Message">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>



        <behaviors>
            <serviceBehaviors>
                <behavior name="IronMacbeth.FileManagement.Behavior">
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceCredentials>
                        <serviceCertificate findValue="77f7f5d4aa2d038c4a1324df82f1bbe4" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber"/>
                        <clientCertificate>
                            <authentication certificateValidationMode="None" />
                        </clientCertificate>
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>



        <services>
            <service name="IronMacbeth.FileManagement.FileManagementService"
                     behaviorConfiguration="IronMacbeth.FileManagement.Behavior">
                <endpoint address="FileManagement" binding="wsHttpBinding" bindingConfiguration="IronMacbeth.FileManagement.Binding" contract="IronMacbeth.FileManagement.Contract.IFileManagement"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:5060" />
                    </baseAddresses>

                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
