<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="IronMacbeth.UserManagement.Binding">
                  <security mode="Message">  
                    <message clientCredentialType="Certificate" />  
                  </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="IronMacbeth.UserManagement.Behavior">
                  <serviceMetadata httpGetEnabled="True"/>
                  <serviceCredentials>  
                    <serviceCertificate findValue="77f7f5d4aa2d038c4a1324df82f1bbe4" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" />  
                    <clientCertificate>
                        <authentication certificateValidationMode="None" />
                    </clientCertificate>
                  </serviceCredentials>  
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="IronMacbeth.UserManagement.UserManagementService" behaviorConfiguration="IronMacbeth.UserManagement.Behavior">
                <endpoint address="UserManagement" binding="wsHttpBinding" bindingConfiguration="IronMacbeth.UserManagement.Binding" contract="IronMacbeth.UserManagement.Contract.IUserManagementService"/>
                <host>
                  <baseAddresses>
                    <add baseAddress="http://localhost:9997" />
                  </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>